<DOCTYPE html>
<html>
     <head>
        <title>@ViewBag.Title | Employees Managment</title>
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
             @RenderBody()
        </div>
           
    </body>
</html>