@model IQueryable<IdentityRole>

@{ 
    ViewBag.Title = "Roles";
}

<div class="alert alert-info my-5 text-center">List Of Roles</div>
<div class="row">
    @foreach(IdentityRole role in Model)
    {
        <div class="col-12 col-sm-6 mb-2 col-lg-4">
            <div  class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">@role.Name</h5>
                    <div class="text-white">
                        <a class="btn btn-sm my-auto btn-secondary" asp-action="Edit" asp-route-id="@role.Id">Edit</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@role.Id">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
