@model EmployeeCreateViewModel

@{
    ViewBag.Title = "Create";
}
<form asp-action="Create" asp-controller="Employee" method="post" enctype="multipart/form-data">
    <div class="col-md-6">
        <label class="form-label" asp-for="Name"></label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="small text-danger"></span>
    </div>
    <div class="col-md-6">
        <label class="form-label" asp-for="Email"></label>
        <input type="email" class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="small text-danger"></span>
    </div>
        
    <div class="col-md-4">
        <label class="form-label" asp-for="Departement"></label>
        <select class="form-select" asp-for="Departement" asp-items="Html.GetEnumSelectList<Departement>()">
            <option value="">Select Departement</option>
        </select>
        <span asp-validation-for="Departement" class="small text-danger"></span>
    </div>
    <div class="col-md-4 my-3">
        <label class="form-label" asp-for="Images"></label>
        <input type="file" multiple accept="image/*" class="form-control" id="inputGroupFile01" asp-for="Images">
    </div>
    <div class="col-12 my-2">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
    <div class="text text-danger" asp-validation-summary="All"></div>
</form>


@section scriptJS{
    <script type="text/javascript">
        $(document).ready(function(){
            $("#inputGroupFile01").on("change",function(){
                var inputFiles=$(this)[0].files;
                if(inputFiles.length==1){
                    console.log("one");
                }
                else{
                    console.log(inputFiles);
                }
            });
        });
    </script>
}