@model Employee

@{
    ViewBag.Title = "Details | Employees";
}


<h1 class="title">Details </h1>
name : @Model.Name


@section styleCSS{
    <link href="~/Styles/Employee/StyleDetails.css" rel="stylesheet">
}
@section js{
    <script type="text/javascript">
        console.log("Details")
    </script>
}