@using learnAspDotNetCore.Models
@model Employee

<DOCTYPE html>
<html>
     <head>
        <title>Employee Page | Details</title>
    </head>
    <body>
        <h1>Details </h1>
        name : @Model.Name
    </body>
</html>