@model EmployeeEditViewModel

@{
    ViewBag.Title = "Edit";
    var imageUrl = "/images/" + (Model.imageOldPath??"default.png");
}

<h2>Edit Employee</h2>
<form asp-action="Edit" asp-controller="Employee" method="post" enctype="multipart/form-data">
    <input hidden asp-for="imageOldPath" />
    <input hidden asp-for="Id" />
    <div class="col-md-6">
        <label class="form-label" asp-for="Name"></label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="small text-danger"></span>
    </div>
    <div class="col-md-6">
        <label class="form-label" asp-for="Email"></label>
        <input type="email" class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="small text-danger"></span>
    </div>
        
    <div class="col-md-4">
        <label class="form-label" asp-for="Departement"></label>
        <select class="form-select" asp-for="Departement" asp-items="Html.GetEnumSelectList<Departement>()">
            <option value="">Select Departement</option>
        </select>
        <span asp-validation-for="Departement" class="small text-danger"></span>
    </div>
    <div class="col-md-4 my-3 mb-3">
        <label class="form-label" asp-for="Image"></label>
        <input type="file"  accept="image/*" class="form-control" id="inputGroupFile01" asp-for="Image">
    </div>
    <div class="col-md-4 my-3">
        @if (Model.imageOldPath != null)
        {
            <img asp-append-version="true" src="@imageUrl" alt="@Model.Name" class="card-img-top" width="50" height=210 style="object-fit: cover"/>
        }
        else
        {
            <span class="alert alert-info"> Image not set</span>
        }
    </div>
    <div class="col-12 my-3">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-dark my-3" asp-action="Index">Back to list</a>
    </div>
    <div class="text text-danger" asp-validation-summary="All"></div>
</form>