@model IEnumerable<Employee>

@{ 
    ViewBag.Title = "List of Employees | Employees";
}
<table border=1>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Email</td>
            <td>Departement</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(Employee item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Departement</td>
                </tr>
            }
        }
    </tbody>
</table>