@{ ViewBag.Title = "Error";
}


<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block my-5">Error :(</span>
                <h1 class="display-4 text-danger">An occured while processing your request. The support team is notified and we are working on the fix</h1>
                <hr />
                <p class="text-info">Please contact us on contact@email.com</p>
                <a asp-controller="Employee" asp-action="Index" class="btn btn-outline-dark">Back to Home Page</a>
            </div>
        </div>
    </div>
</div>
